@import url(https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif; }

.page-wrapper {
  padding: auto;
  margin: 7%; }

body {
  display: block;
  background-color: #f2f5f6; }

header {
  width: 100%;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center; }

header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4c4e61; }

nav a {
  font: grey 1.4rem;
  color: #a8aaac;
  padding: 7px;
  text-decoration: none; }

.about {
  text-align: center;
  max-width: 480px;
  margin: auto;
  margin: 100px auto; }

.about h1.hello {
  font-size: 1.7rem;
  font-weight: 200;
  color: #a3a5ae; }

.about .name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4c4e61;
  margin-bottom: 1rem; }

.about p {
  font-size: 1rem;
  font-weight: 400;
  color: #a3a5ae; }

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }

.card-container-udacity {
  display: grid;
  grid-gap: 25px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 300px;
  justify-items: center; }

.projects h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #656675;
  margin-bottom: 1rem;
  text-align: center; }

.card {
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  min-width: 300px;
  max-width: 300px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  text-align: center; }

.card h3 {
  color: #4c4e61;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.4rem; }

.card p {
  color: #a3a5ae;
  font-size: 0.9rem;
  font-weight: 400; }

.card img {
  width: 200px; }

.card div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; }

.card div a {
  border: 1px grey solid;
  padding: 4px 7px;
  border-radius: 5px;
  text-decoration: none;
  width: 80px;
  color: grey;
  margin-top: 0.7rem; }

@media screen and (min-width: 700px) {
  .card-container-udacity {
    display: grid;
    grid-gap: 25px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 625px; } }

@media screen and (min-width: 1295px) {
  .card-container-udacity {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 1275px; } }
